body{background-color: antiquewhite;}
#c1
{background-color: rgb(11, 160, 11);
    font-family: 'Cormorant Upright', serif;
    width:1000px;
    height: 100px;}
#c2
{ font-family: 'Cormorant Upright', serif;
    font-size: 30PX;}
#c3
{font-family: 'Cormorant Upright', serif;}
#c4
{font-family: 'Cormorant Upright', serif;
color: rgb(7, 7, 7);
font-size: 40PX;}
#c5
{font-family: 'Cormorant Upright', serif;
color: rgb(42, 124, 42);}
#c6
{font-family: 'Cormorant Upright', serif;}
#c7
{font-family: 'Cormorant Upright', serif;
    color: rgb(42, 124, 42);}
#c8
{font-family: 'Cormorant Upright', serif;}
#c9
{font-family: 'Cormorant Upright', serif;
    color: rgb(42, 124, 42);}
#c10
{font-family: 'Cormorant Upright', serif;}